extends base.pug

block scripts
    script(src = '../static/index.js')

block style
    style
        include ../static/abt.css

block content

    
    div.cont-img
        img(src="../static/dance-about.jpg", alt="Mittal Dance Academy")
    h1 About
    div.box
        div.cont-summary
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi fugiat impedit sunt quas dignissimos quis aliquid illum qui, illo eos fugit unde, perferendis atque magnam aliquam, accusantium minus. Quas iste blanditiis laboriosam aliquam. Iste rem natus perspiciatis quaerat. Corrupti nemo laboriosam accusantium autem ratione sint rerum quibusdam iure officiis suscipit atque quasi, officia perferendis ducimus mollitia maxime quos fugit consequatur. Culpa ab suscipit commodi accusamus minus consequuntur molestiae velit quibusdam dignissimos ad recusandae, quos a autem neque deleniti nostrum, animi pariatur delectus tempora repellat iusto quisquam aut sequi molestias. Quo provident doloribus nulla rerum reiciendis aperiam consequatur dolore magnam alias sit quaerat ullam facilis ratione repudiandae velit, reprehenderit delectus voluptatem exercitationem tempora omnis voluptas atque. Ipsam amet omnis nemo perspiciatis totam ipsum nisi pariatur mollitia dolorem ab neque reprehenderit assumenda optio asperiores rem, exercitationem voluptate tempora cum alias. Laboriosam quam doloribus libero saepe, vero impedit? Culpa aspernatur placeat fuga eveniet illo corporis odio vero quasi molestias, laudantium quas! Voluptatem iusto, ipsa nam adipisci obcaecati voluptatum similique placeat mollitia culpa eos eum facilis aut maxime, inventore fugiat quo nemo nostrum modi ipsum deserunt. Reprehenderit accusamus quas sint harum possimus nesciunt eius nisi ut assumenda vitae labore quia reiciendis facilis magni, fuga, tempora quisquam recusandae inventore repellendus minus nihil. Odio, cum magni libero laborum saepe facere quos vitae, eveniet ratione natus magnam Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consequatur quod molestias voluptatibus dicta nam saepe fugit ullam beatae! Voluptatum debitis expedita tempore, necessitatibus ullam illum velit iusto officiis impedit, veniam dicta, earum nam dolorum suscipit doloribus amet eius libero! Aliquam at repellat quibusdam exercitationem rem aliquid veniam, quo fugiat nostrum quaerat ipsum eligendi maxime quidem laborum ducimus voluptatum ab ipsam tempora. Molestiae dicta incidunt ipsa earum laudantium accusantium voluptates, totam voluptas commodi adipisci nemo odio explicabo voluptate ea dolorem possimus nesciunt, modi a laboriosam eveniet. Adipisci, earum. Quisquam ab magnam asperiores quos dolores? Temporibus atque sequi asperiores voluptate! Sapient 
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero corrupti recusandae iusto, vero quidem rem eum odit consequuntur accusantium voluptatibus eius laborum non corporis sunt? Ab magnam doloribus tenetur dolorum nam sit animi molestiae, quo quis ex ducimus, est numquam nesciunt debitis aspernatur ipsa. Dolore similique qui, impedit aperiam quis vel. Est consectetur facere veniam odio sint aspernatur, aliquid itaque sequi quam veritatis repellat recusandae corrupti eveniet ipsum hic cumque ut eos voluptate error unde qui molestias nam minus. Magnam? ipsum dolor sit amet consectetur adipisicing elit.
        
        