extends base.pug

block scripts
    script(src = '../static/index.js')

block style
    style
        include ../static/services.css

block content
    div.container
        h1 Class Info:
        ul.container-items
            li 
                h2 We offer following classes to students:
                ol.training
                    li XYZ Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.
                    li PQR Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.
                    li PQR Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.
                    li PQR Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.
                    li PQR Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.
                    li PQR Dance: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci facilis eos impedit quibusdam aliquid odio laborum fugit asperiores blanditiis ratione.