@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    padding:0px;
    
}

#logo{
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    margin: 0 14px;
    font-family: monospace;
    padding-right: 40px;
}
#logo img{
    height: 42px;
}

#navbar{
    background-color: rgba(0, 0, 0, 0.055);
    padding: 18px 4px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
#navbar ul{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
}
#navbar li{
    list-style: none;

}

#navbar li a{
 text-decoration: none;
 padding: 12px 20px;
 color:white;
 font-size: 20px;
}
#navbar li a:hover{
    color:darkgreen;
}
body::before{
    content: '';
    width:100%;
    top:0px;
    position: absolute;
    background: url('../static/services-background.jpg') no-repeat center center ;
    height:650px;
    z-index: -1;
    opacity: 0.8;
}
h1{
    text-align: center;
    color: aliceblue;
    font-family: system-ui,sans-serif;
}
.container-items{
    padding: 30px;
    color: bisque;
    font-family: cursive;
}
.container-items h2{
    font-size: 31px;
}
.training{
    padding: 10px 103px;
    font-size: 19px;
}

#footer{
    margin-top: 55px;
    height: 60px;
    background-color: #21180d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
}
